<launch>
    <!-- Parameters for the serial port and baud rate -->
    <param name="serial_port" type="string" value="/dev/ttyACM0" />
    <param name="baud_rate" type="int" value="57600" />

    <!-- Node to send Imu messages serially-->
    <node name="sensor_node" type="sensor.py" pkg="rov_visualize" output="screen">
        <param name="serial_port" value="/dev/ttyACM0" />
        <param name="baud_rate" value="57600" />
    </node> 

    <!-- Node to convert Imu messages to tf -->
    <node name="imu_tf" type="imu_to_tf.py" pkg="rov_visualize" output="screen">
    </node>

    <!-- launch rviz with the urdf model -->
    <arg name="model" default="$(find rov_visualize)/urdf/rov.urdf" />
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />


    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
