<?xml version="1.0"?>
<robot name="rov">

	<!-- * * * Link Definitions * * * -->

 	<link name="base_link">
		<visual>
		    <origin xyz="0 0 0" rpy="0 0 0"/>
          <axis xyz="0 0 0" />
			<geometry>
				<box size="1.8 0.6 0.2"/>
			</geometry>
			<material name="c">
	       		<color rgba="0 0.9 0.9 1.0"/>
	     	</material>
		</visual>	
	</link>


</robot>

